.token
json/
#dataset/
#rainfall/
#snowfall/
#solar/
#temp/
#wind/
.idea/
.ipynb_checkpoints/
.virtual_documents/
Bayang_Vacation_Finder_ML_Help.ipynb
Vacation_ML_temp_max.ipynb
Vacation_ML_temp_min.ipynb
Vacation-model.ipynb
